<div id="page_content">
    <div id="page_content_inner" ng-class="!isAdmin && 'p-0'">
        <div class="bg-white box-border" ng-if="!isAdmin">
            <div style="height: calc(100vh - 60px)" class="grid grid-cols-5 2xl:px-16 px-8 gap-2">
                <div class="col-span-3 lg:col-span-2 border-box border-0 border-r-[2px] border-solid border-[#eef1f4]">
                    <h2 class="font-normal text-indigo-900 m-8">Санал хүсэлт илгээх</h2>
                    <form id="sendFeedback" name="sendFeedback" ng-submit="send()" style="height: calc(100vh - 217px)"
                          custom-scrollbar>
                        <div class="grid grid-cols-3 gap-4 mx-8">
                            <div class="col-span-3">
                                <label class="text-indigo-900 uppercase text-xs font-normal"
                                       for="feedbackType">Төрөл</label>
                                <div class="k-edit-field">
                                    <select
                                            kendo-combo-box
                                            validationMessage="шаардлагатай"
                                            k-placeholder="'Сонгох'"
                                            id="feedbackType"
                                            name="feedbackType"
                                            k-data-text-field="'comCdNm'"
                                            k-data-value-field="'id'"
                                            k-filter="'startswith'"
                                            ng-model="app.typeId"
                                            k-auto-bind="true"
                                            k-data-source="feedbackTypeSource"
                                            style="width: 100%"
                                            required
                                    ></select>
                                </div>
                            </div>
                            <div class="col-span-3">
                                <label class="text-indigo-900 uppercase text-xs font-normal">Санал хүсэлтийн
                                    агуулга</label>
                                <textarea kendo-text-area required ng-model="app.senderData" style="width: 100%"
                                          rows="6"></textarea>
                            </div>
                            <div class="col-span-3">
                                <label class="text-indigo-900 uppercase text-xs font-normal">Хавсралт файл</label>
                                <div class="flex flex-wrap gap-2">
                                    <label class="custom-file-upload !h-[168px] !w-[168px] shrink-0">
                                        <input ng-show="false" accept="image/*" class="hidden" style="display: none"
                                               type="file"
                                               name="file" id="attach" k-options="fileOptions" kendo-upload/>
                                        <i class="material-icons">add</i>
                                    </label>
                                    <div class="relative shrink-0 rounded-sm border-[1px] border-[#F0F2F5] border-solid !h-[168px] !w-[168px]"
                                         ng-repeat="img in images">
                                        <img alt="preview" id="imgPreview" style="height: 168px; width: 100%"
                                             class="object-cover object-center rounded-sm"
                                             ng-src="{{img.uri}}"/>
                                        <i class="material-icons absolute right-[10px] top-[10px] cursor-pointer"
                                           ng-click="deleteImg(img.id)">cancel_rounded</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr class="border-zinc-100 border-[2px]"/>
                    <div class="col-span-3 text-right mx-8">
                        <button class="md-btn gradient-button uppercase" ng-click="send()">Илгээх</button>
                    </div>
                </div>
                <div class="col-span-3 p-8 pr-0 2xl:pr-8 border-box" style="height: calc(100% - 120px)">
                    <h2 class="font-normal text-indigo-900 mb-8">Хүсэлтийн мэдээлэл</h2>
                    <div class="grid grid-cols-3 gap-6">
                        <div ng-if="feedbackSource.length>0" ng-repeat="item in feedbackSource">
                            <div class="p-6 pb-2 border-solid border-[1px] border-zinc-300 rounded-xl"
                                 ng-click="clickItem(item)">
                                <span class="k-status-waiting" ng-if="item.status==1">Хүлээгдэж буй</span>
                                <span class="k-status-reply" ng-if="item.status==2">Хариу илгээсэн</span>
                                <p class="mb-0 text-xs text-zinc-500">{{item.createdAt || '-'}}<span
                                        class="font-bold float-right"></span></p>
                                <p class="font-bold mt-1">{{item.feedType.comCdNm || '-'}}<span
                                        class="font-bold float-right"></span></p>
                                <p>{{item.senderData || '-'}}<span class="font-bold float-right"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main_content" ng-if="isAdmin">
            <kendo-grid id="app1Data" k-scope-field="grid" class="uk-text-small" k-data-source="dataSource" options="mainGrid"></kendo-grid>
        </div>
    </div>
</div>

<div class="uk-modal" id="modal_form">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom: 0; padding: 0; width: 700px">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Мэдэгдэл бичих</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <form class="k-form k-form-vertical" id="validator" custom-scrollbar style="margin-bottom: 0; overflow-x: hidden;" ng-submit="formSubmit()">
            <div style="padding: 0">
                <div class="uk-overflow-container">
                    <div class="uk-grid uk-grid-small">

                        <div class="uk-width-medium-1-1 uk-grid-margin">
                            <div class="k-edit-label" style="width: 100%; text-align: left;margin-bottom: 0"><label for="title">Суваг</label></div>
                            <div class="k-edit-field" style="width: 100%">
                                <input
                                        id="lvlId"
                                        required
                                        kendo-drop-down-list
                                        k-auto-bind="true"
                                        k-data-text-field="'topic'"
                                        k-data-value-field="'id'"
                                        k-data-source="channelDataSource"
                                        ng-model="dataItem.channelId"
                                        placeholder="Сонгох"
                                        style="width: 100%"
                                />
                            </div>
                        </div>
                        <div class="uk-width-medium-1-1 uk-grid-margin">
                            <div class="k-edit-label" style="width: 100%; text-align: left;margin-bottom: 0"><label for="title">Мэдэгдлийн гарчиг</label></div>
                            <div class="k-edit-field" style="width: 100%">
                                <input type="text" class="k-input k-textbox" ng-model="dataItem.title" id="title" style="width: 100%"/>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-1 uk-grid-margin">
                            <div class="k-edit-label" style="width: 100%; text-align: left;margin-bottom: 0"><label for="title">Мэдэгдлийн агуулга</label></div>
                            <div class="k-edit-field" style="width: 100%">
                                <textarea kendo-text-area required ng-model="dataItem.body" style="width: 100%" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="formFooter" style="margin: 0; padding: 12px">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БОЛИХ</button>
                    <button type="button" ng-click="formSubmit(1)" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var animation1 = bodymovin.loadAnimation({
        // animationData: { /* ... */ },
        container: document.getElementById("main-loader-app"), // required
        path: "assets/img/loader.json", // required
        renderer: "svg", // required
        loop: true, // optional
        autoplay: true, // optional
        name: "Demo Animation", // optional
    });
</script>

<div class="uk-modal" id="modal_loader">
    <div class="uk-modal-dialog" style="background: none; box-shadow: none; text-align: center; width: 100%">
        <div id="main-loader-app" style="height: 100px"></div>
    </div>
</div>

