<div id="page_content">
    <div id="page_content_inner">
        <div id="main_content">
            <kendo-grid id="appData" class="uk-text-small" k-scope-field="grid" k-data-source="dataSource" options="mainGrid"></kendo-grid>
        </div>
    </div>
</div>

<div class="uk-modal" id="modal_form">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom: 0; padding: 0;">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Ярилцлага бүртгэх</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <form class="k-form k-form-vertical" id="validator" custom-scrollbar  style="margin-bottom: 0; overflow-x: hidden;" ng-submit="formSubmit()">
            <div style="padding: 0">
                <div class="uk-overflow-container" style="margin-bottom: 0">
                    <ul class="k-edit-form-container batch" style="display: inline-block; width: 100%">
                        <li>
                            <div class="k-edit-label"><label>Байгууллага</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <span class="k-input k-textbox ng-pristine ng-untouched k-input-solid k-input-md k-rounded-md  w-full" style="padding:5px 8px;">{{user.organization.name}}</span>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="planYr">Тайлант он</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <select kendo-combo-box required validationMessage="шаардлагатай"
                                        k-placeholder="'Сонгох'" id="planYr"
                                        k-data-text-field="'text'" k-data-value-field="'value'" ng-model="dataItem.planYr"
                                        k-data-source="planYrDataSource" style="width: 100%">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="planYr">Ажилтан</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <select kendo-combo-box required validationMessage="шаардлагатай"
                                        k-placeholder="'Сонгох'" id="planId" k-cascade-from="'planYr'"  k-cascade-from-field="'planYr'"
                                        k-data-text-field="'userNm'" k-data-value-field="'id'" ng-model="dataItem.planId" k-ng-model="dataItem.planObj"
                                        k-data-source="planDatasource" style="width: 100%">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="planYr">Зорилт</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <select kendo-combo-box required validationMessage="шаардлагатай"
                                        k-placeholder="'Сонгох'" id="objId" k-cascade-from="'planId'"  k-cascade-from-field="'planId'"
                                        k-data-text-field="'title'" k-data-value-field="'id'" ng-model="dataItem.objId"
                                        k-data-source="purposeDatasource" style="width: 100%">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="planYr">Арга хэмжээ</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <select kendo-combo-box required validationMessage="шаардлагатай"
                                        k-placeholder="'Сонгох'" id="taskId" k-cascade-from="'objId'"  k-cascade-from-field="'parentId'"
                                        k-data-text-field="'title'" k-data-value-field="'id'" ng-model="dataItem.detId"
                                        k-data-source="criteriaDatasource" style="width: 100%">
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label>Хэлбэр</label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                <div class="custom-select w-full">
                                    <div class="item text-sm" style="width: 33%"
                                         ng-class="dataItem.typeStr == '01' ? 'active' : ''"
                                         ng-click="dataItem.typeStr='01'">Биечлэн
                                    </div>
                                    <div class="item text-sm" style="width: 34%"
                                         ng-class="dataItem.typeStr == '02' ? 'active' : ''"
                                         ng-click="dataItem.typeStr='02'">Утсаар
                                    </div>
                                    <div class="item text-sm" style="width: 34%"
                                         ng-class="dataItem.typeStr == '03' ? 'active' : ''"
                                         ng-click="dataItem.typeStr='03'">Онлайн
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="fullStr">Хангалтгүй буюу эрчимжүүлэх шаардлагатай арга хэмжээний тухай 
                            </label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                    <textarea kendo-text-area id="fullStr" required k-ng-model="dataItem.fullStr" style="width: 100%;"
                                              rows="5"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="taskStr">Нэгжийн даргаас өгсөн үүрэг даалгавар
                            </label></div>
                            <div class="k-edit-field k-form-field-wrap">
                                    <textarea kendo-text-area id="taskStr" required k-ng-model="dataItem.taskStr" style="width: 100%;"
                                              rows="5"></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="formFooter" style="margin: 0; padding-top: 0 !important;">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БУЦАХ
                    </button>
                    <button type="button" ng-click="formSubmit(1)"
                            class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="uk-modal" id="modal_view">
    <div class="uk-modal-dialog custom-modal" style="width:60vw;margin-bottom: 0; padding: 0;">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Ярилцлага</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <div custom-scrollbar  style="margin-bottom: 0; overflow-x: hidden;">
            <div style="padding: 0">
                <div class="uk-overflow-container" style="margin-bottom: 0">
                    <!-- <div>
                         <div class="k-edit-label"><label>Арга хэмжээ</label></div>
                         <div class="k-edit-field k-form-field-wrap">
                             <span class="k-input k-textbox ng-pristine ng-untouched k-input-solid k-input-md k-rounded-md  w-full" style="padding:5px 8px;">{{viewItem.title}}</span>
                         </div>
                     </div>-->
                    <table class="sub-table1 funding-table mb-4" style="border-spacing: 0;border-bottom: 1px solid #eef1f4;">
                        <thead>
                        <tr>
                            <th class="uk-text-center"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">№</label></th>
                            <th class="uk-text-left"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Арга хэмжээ</label></th>
                            <th class="uk-text-left"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Төрөл</label></th>
                            <th class="uk-text-left"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Огноо</label></th>
                            <th class="uk-text-center"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Биелэлт</label></th>
                            <th class="uk-text-left"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Арга хэмжээний тухай</label></th>
                            <th class="uk-text-left"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Үүрэг даалгавар</label></th>
                            <th class="uk-text-center"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">Төлөв</label></th>
                            <th class="uk-text-center"><label class="uk-form-label uppercase !text-xs font-normal uk-text-muted"></label></th>
                        </tr>
                        </thead>
                        <colgroup>
                            <col style="width: 50px"/>
                            <col style="width: 250px"/>
                            <col style="width: 100px"/>
                            <col style="width: 100px"/>
                            <col style="width: 100px"/>
                            <col style="width: 250px"/>
                            <col style="width: 250px"/>
                            <col style="width: 100px"/>
                            <col style="width: 100px"/>
                        </colgroup>
                        <tbody>
                        <tr ng-repeat="item in meetings">
                            <td class="border-left:none;border-top:none; uppercase !text-xs font-normal uk-text-muted" style="text-align:center;">
                                <label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">{{$index+1}}</label>
                            </td>
                            <td>
                                <label class="uk-form-label font-normal uk-text-muted">{{item.detNm}}</label>
                            </td>
                            <td class="uk-text-left" >
                                <div class="grid gap-2 grid-cols-1">
                                    <div><label ng-bind="item.typeStr=='01'?'Биечлэн':item.typeStr=='02'?'Утсаар':'Онлайн'" class="uk-form-label font-normal uk-text-muted">{{item.typeStr}}</label></div>
                                </div>
                            </td>
                            <td>
                                <label class="uk-form-label font-normal uk-text-muted">{{item.talkDt}}</label>
                            </td>
                            <td class="border-left:none;border-top:none; uppercase !text-xs font-normal uk-text-muted" style="text-align:center;">
                                <label class="uk-form-label uppercase !text-xs font-normal uk-text-muted">{{item.progress | number:1}}%</label>
                            </td>
                            <td>
                                <label class="uk-form-label font-normal uk-text-muted">{{item.fullStr}}</label>
                            </td>
                            <td>
                                <label class="uk-form-label font-normal uk-text-muted">{{item.taskStr}}</label>
                            </td>
                            <td style="text-align:center;">
                                <span ng-if="item.statusNm=='Баталсан'" class='cursor-pointer bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300' ng-bind='item.statusNm'></span>
                                <span ng-if="item.statusNm=='Илгээсэн'"  class='cursor-pointer bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300' ng-bind='item.statusNm'></span>
                                <span ng-if="item.statusNm=='Буцсан'"  class='cursor-pointer bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300' ng-bind='item.statusNm'></span>
                            </td>
                            <td class="uk-text-center">
                                <div class="flex justify-center gap-2">
                                <button class="grid-btn" ng-disabled="item.statusNm=='Баталсан'" ng-click='approveItem(item)'><div class="nimis-icon see "></div>Батлах</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="formFooter" style="margin: 0; padding-top: 0 !important;">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">Хаах </button>
                </div>
            </div>
        </div>
    </div>
</div>