<div id="page_content">
    <div id="page_content_inner">
        <div id="main_content">
            <kendo-grid id="appData" class="uk-text-small" k-options="mainGrid" k-ng-delay="mainGrid" k-scope-field="grid" k-data-source="appDataSource"></kendo-grid>
        </div>
    </div>
</div>

<div class="uk-modal" id="modal_loader">
    <div class="uk-modal-dialog" style="background: none;box-shadow: none;text-align: center;width: 100%;">
        <div id="main-loader-approved-1" style="height: 100px;"></div>
    </div>
</div>

<div class="uk-modal" id="modal_form">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom: 0; padding: 0; width: 700px">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Эрсдэл бүртгэх</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <form class="k-form k-form-vertical" id="validator" custom-scrollbar style="margin-bottom: 0; overflow-x: hidden;" ng-submit="formSubmit()">
            <div style="padding: 0">
                <div class="uk-overflow-container">
                    <ul class="k-edit-form-container" style="display: inline-block; width: 100%">
                        <li>
                            <div class="k-edit-label"><label>АГАДҮТ</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-drop-down-list
                                        ng-model="dataItem.typeId"
                                        required id="typeId"
                                        style="width: 100%"
                                >
                                    <option value="0">Ажил гүйлгээний анги үйл явдал</option>
                                    <option value="1">Дансны үлдэгдэл</option>
                                    <option value="2">Тодруулга</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label>Батламж мэдэгдэл</label></div>
                            <div class="k-edit-field">
                                <input
                                        kendo-drop-down-list
                                        k-auto-bind="true"
                                        k-data-text-field="'comCdNm'"
                                        k-data-value-field="'id'"
                                        k-data-source="confirmationStatementDataSource"
                                        ng-model="dataItem.confId"
                                        required id="confId"
                                        style="width: 100%"
                                />
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label> Батламж мэдэгдэл тайлбар </label></div>
                            <div class="k-edit-field">
                                <textarea id="confDesc" kendo-text-area k-placeholder="'...'" k-ng-model="dataItem.confDesc" style="width: 100%;" rows="5"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Батламж мэдэгдэл хангахгүй байх эрсдэл</label></div>
                            <div class="k-edit-field">
                                <textarea id="name" kendo-text-area k-placeholder="'...'" k-ng-model="dataItem.name" style="width: 100%;" rows="5"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label>Эрсдэл байхгүйг нотлох гүйцэтгэх горим, сорил</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-multi-select
                                        k-auto-bind="true"
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="tryOutDataSource"
                                        k-ng-model="dataItem.tryIds"
                                        k-options="selectOptions"
                                        required id="tryId"
                                        style="width: 100%"
                                ></select>
                            </div>
                        </li>

                        <!--<li>
                            <div class="k-edit-label"><label>Аудитын чиглэл</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-multi-select
                                        k-auto-bind="true"
                                        k-options="directionOptions"
                                        k-ng-model="dataItem.directions"
                                        required id="directions"
                                        style="width: 100%"
                                ></select>
                            </div>
                        </li>-->
                        <li>
                            <div class="k-edit-label"><label>Ашиглах эсэх</label></div>
                            <div class="k-edit-field" style="margin-top: 5px">
                                <div class="custom-select" style="width: 50%">
                                    <div class="item w-1/2" ng-class="{'active' : dataItem.useYn==1}" ng-click="dataItem.useYn=1">Тийм</div>
                                    <div class="item w-1/2" ng-class="{'active' : dataItem.useYn==0}" ng-click="dataItem.useYn=0">Үгүй</div>
                                </div>
                                <!--<input class="switchery switchery-small" type="checkbox" id="useYn" ui-switch ng-model="dataItem.useYn" parse-int ng-true-value="1" ng-false-value="0" />
                                <label for="useYn" class="inline-label" ng-bind="dataItem.useYn?'Идэвхтэй':'Идэвхгүй'">Label</label>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="formFooter" style="margin: 0; padding: 12px">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БОЛИХ</button>
                    <button type="button" ng-click="formSubmit(1)" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ / ХААХ</button>
                    <button type="button" ng-click="formSubmit(0)" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ / ШИНЭ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .k-floatwrap{
        border-bottom: 1px solid rgba(0,0,0,.08);
    }
    .image-content {
        position: relative;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }
    .custom-file-upload {
        background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #c2976f, #312e81) border-box;
        border: 1px dashed white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 126px;
        cursor: pointer;
        font-size: 80px;
        color: #c2976f;
        font-weight: 200;
    }

    .custom-file-upload i {
        color: #c2976f;
        font-size: 70px;
    }

    .imgContainer:hover .k-button {
        display: block !important;
    }

    .imgContainer:hover {
        opacity: 10;
    }

    .imgContainer:hover img {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    .custom-file-upload .k-widget.k-upload.k-upload-async {
        display: none;
    }

    .k-widget.k-upload.k-upload-async {
        display: none;
    }

    .lg-backdrop.in {
        z-index: 1305;
    }

    .lg-outer {
        z-index: 1307;
    }
</style>
<script>
    var animation = bodymovin.loadAnimation({
        // animationData: { /* ... */ },
        container: document.getElementById('main-loader-approved-1'), // required
        path: 'assets/img/loader.json', // required
        renderer: 'svg', // required
        loop: true, // optional
        autoplay: true, // optional
        name: "Demo Animation", // optional
    });
</script>
