<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1 iconBtn">
                <kendo-grid options="main2Grid" id="parent" class="uk-text-small"
                            k-data-source="data2Source"></kendo-grid>
            </div>
        </div>
    </div>
</div>

<div class="uk-modal custom-modal" id="modal_form">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom:0; padding: 0; width: 700px;">
        <div class="formHeader" style="display: block;margin: 0 -24px;padding:24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px;">
                        <span>Хөрөнгө оруулалтын төрөл бүртгэх</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>

        <form kendo-validator="validator" id="userForm" style="margin-bottom: 0; height: calc(100vh - 250px) !important" ng-submit="formSubmit()">
            <div style="padding:0;" custom-scrollbar>
                <div class="uk-overflow-container">
                    <ul class="k-edit-form-container" style="display: inline-block; width: 94%">
                        <li>
                            <div class="k-edit-label"><label for="name">Нэр</label></div>
                            <div class="k-edit-field">
                                <input type="text" class="k-input k-textbox" required ng-model="dataItem.name" id="name"
                                       style="width: 100%"/>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Эрэмбэ</label></div>
                            <div class="k-edit-field">
                                <input kendo-numeric-text-box id="priority" required k-min="0" k-max="100"
                                       k-ng-model="dataItem.priority" style="width: 100%"/>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Эдийн засгийн ангилал</label></div><div class="k-edit-field">
                            <div class="my-2 mr-1 inline-block" ng-repeat="eco in ecoDataSource">
                                <input type="checkbox" ng-value="eco.id" ng-model="ezObj[eco.id]" class="k-checkbox hidden" style="display: none !important" id="{{eco.id}}-{{$index}}" />
                                <label class="w-6 bg-white text-[#6C757D] border-[#6C757D] border-[1px] border-solid rounded-2xl py-1 px-3 bg-white text-sm cursor-pointer capitalize" for="{{eco.id}}-{{$index}}"
                                ><i class="material-icons mr-2 text-[#6C757D]">check_outlined</i>{{eco.comCdNm}}</label
                                >
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Хэмжих нэгж</label></div>
                            <div class="k-edit-field">
                                <select kendo-multi-select k-options="measOptions" k-ng-model="dataItem.measArray"
                                ></select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Эх үүсвэр</label></div>
                            <div class="k-edit-field">
                                <div k-ng-model="dataItem.sourceTypeArray" id="sourceTypeTreeview" textField="name"></div>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="name">Салбар</label></div>
                            <div class="k-edit-field">
                                <div k-ng-model="dataItem.objArray" id="treeview" textField="name"></div>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="icon">Айкон</label></div>
                            <div class="k-edit-field">
                                <div style="width: 100%">
                                    <input name="file" accept="image/*" type="file" id="icon" k-options="iconFileOptions" kendo-upload k-select="iconOnSelect" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="marker">Маркер айкон</label></div>
                            <div class="k-edit-field">
                                <div style="width: 100%">
                                    <input name="file" accept="image/*" type="file" id="marker" k-options="markerFileOptions" kendo-upload k-select="markerOnSelect" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label for="staff">Зураг</label></div>
                            <div class="k-edit-field">
                                <div style="width: 100%">
                                    <input name="file" accept="image/*" type="file" id="staff" k-options="fileOptions" kendo-upload k-select="onSelect" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="formFooter" style="margin: 0;padding:12px">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button" >БОЛИХ</button>
                    <button type="button" ng-click="formSubmit()" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .k-treeview .k-i-collapse + .k-checkbox-wrapper, .k-treeview .k-i-expand + .k-checkbox-wrapper {
        margin-left: 0;
    }

    .nimis-form .form-field label {
        font-weight: 300;
        font-size: 14px;
    }

    .nimis-form .form-field input {
        margin-top: 0;
    }

    .custom-card .panel {
        margin: 30px 120px;
    }

    .spinner {
        display: block;
        border: 6px solid rgb(256, 256, 256, 0.5);
        border-top: 6px solid #fff;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin: auto;
        animation: spin 2s linear infinite;
    }

/*    input[type="file"] {
        display: none;
    }*/

    .custom-file-upload {
        background: #f6f7f8;
        border: 1px solid #eef1f4;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        cursor: pointer;
    }

    .custom-file-upload i {
        color: #515965;
        font-size: 70px;
    }

    .k-edit-label {
        width: 20%;
    }

    .k-edit-field {
        width: 75%;
    }
</style>
