<ul id="breadcrumbs">
    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
        <a ng-switch-when="false" ng-show="step.abstract==null || step.abstract"  href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
        <span ng-switch-when="false" ng-show="step.abstract!=null && !step.abstract" >{{step.ncyBreadcrumbLabel}}</span>
        <span ng-switch-when="true" ng-show="!step.abstract" >{{step.ncyBreadcrumbLabel}}</span>
    </li>
</ul>

