<div class="wizard">
    <div class="steps uk-clearfix">
        <ul ng-if="!hideIndicators" class="uk-clearfix">
            <li ng-class="{
                default: !step.completed && !step.selected,
                current: step.selected && !step.completed,
                done: step.completed && !step.selected,
                editing: step.selected && step.completed,
                decType1: step.wzData.split(':')[1] == 1,
                decType2: step.wzData.split(':')[1] == 2,
                decType3: step.wzData.split(':')[1] == 3,
                last: $last}"
                id="{{step.wzData.split(':')[0]}}"
                ng-repeat="step in getEnabledSteps() | unique:'wzTitle'">
                <a ng-click="goTo(step)">
                    <span class="number">{{$index+1}}</span>
                    <span class="title">
                         {{step.title || step.wzTitle}}
                        <br>
                        <span ng-if="step.wzData.split(':')[1]==7" class="uk-badge uk-badge-primary">Илгээсэн</span>
                        <span ng-if="step.wzData.split(':')[1]==1" class="uk-badge uk-badge-success">Зөвшөөрсөн</span>
                        <span ng-if="step.wzData.split(':')[1]==2" class="uk-badge uk-badge-danger">Буцаасан</span>
                        <span ng-if="step.wzData.split(':')[1]==3" class="uk-badge uk-badge-warning">Татгалзсан</span>
                    </span>

                </a>
            </li>
        </ul>
    </div>
    <div class="content" ng-transclude></div>
</div>
