<div id="stat03">
    <kendo-grid id="appData41" k-scope-field="grid" k-data-source="dataSource41" options="mainGrid41"></kendo-grid>
</div>


<div class="uk-modal" id="modal_form_41">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom: 0; padding: 0;width:588px;">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Эрсдэл бүртгэх</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <form class="k-form k-form-vertical" id="validator41" name="validator" custom-scrollbar style="margin-bottom: 0; overflow-x: hidden;" ng-submit="formSubmit()">
            <div style="padding: 0">
                <div class="uk-overflow-container">
                    <ul class="k-edit-form-container" style="display: inline-block; width: 100%">
                        <li>
                            <div class="k-edit-label"><label>Хүчин зүйлс</label></div>
                            <div class="k-edit-field">
                                <select  kendo-drop-down-list
                                         k-auto-bind="true"   style="width: 100%"
                                         k-data-text-field="'name'"
                                         k-data-value-field="'id'"
                                         k-cascade-from="'orgType'" k-cascade-from-field="'orgTypeId'"
                                         k-data-source="factorDataSource"
                                         ng-model="dataItem.mainFactorId"
                                         required id="mainFactorId41"></select>
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label>Дэд хүчин зүйлс</label></div>
                            <div class="k-edit-field">
                                <input
                                        kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="subFactorDataSource"
                                        k-cascade-from="'mainFactorId41'" k-cascade-from-field="'parentId'"
                                        ng-model="dataItem.factorId"
                                        required id="factorId41"
                                        style="width: 100%"
                                />
                            </div>
                        </li>
                        <li>
                            <div class="k-edit-label"><label>Нөхцөл</label></div>
                            <div class="k-edit-field">
                                <input
                                        kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="factorQuestionDataSource"
                                        k-cascade-from="'factorId41'" k-cascade-from-field="'factorId'"
                                        ng-model="dataItem.queId"
                                        k-on-change="filterAcc()"
                                        k-ng-model="dataItem.question"
                                        required id="accId1"
                                        style="width: 100%"
                                />
                            </div>
                        </li>

                        <li ng-show="dataItem.question!=null">
                            <div class="k-edit-label"><label>Ерөнхий чиглэл</label></div>
                            <div class="k-edit-field" style="padding-top:5px;">
                                <span ng-bind="dataItem.question.dirNm"></span>
                            </div>
                        </li>
                        <li ng-show="dataItem.question!=null">
                            <div class="k-edit-label"><label>Дэд чиглэл</label></div>
                            <div class="k-edit-field" style="padding-top:5px;">
                                <span ng-bind="dataItem.question.subDirNm"></span>
                            </div>
                        </li>

                        <li ng-show="dataItem.question!=null">
                            <div class="k-edit-label"><label>Данс</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-drop-down-list
                                        k-data-text-field="'accNm'"
                                        k-data-value-field="'id'"
                                        k-data-source="accountDataSource"
                                        ng-model="dataItem.accId"
                                        required id="account"
                                        style="width: 100%"
                                ></select>
                            </div>
                        </li>
                        <li ng-show="dataItem.question!=null">
                            <div class="k-edit-label"><label>АГАДҮТ</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-drop-down-list
                                        ng-model="dataItem.typeId"
                                        required id="typeId"
                                        style="width: 100%"
                                >
                                    <option value="0">Ажил гүйлгээний анги үйл явдал</option>
                                    <option value="1">Дансны үлдэгдэл</option>
                                    <option value="2">Тодруулга</option>
                                </select>
                            </div>
                        </li>
                        <li ng-show="dataItem.question!=null">
                            <div class="k-edit-label"><label>Батламж мэдэгдэл</label></div>
                            <div class="k-edit-field">
                                <select
                                        kendo-drop-down-list
                                        k-data-text-field="'comCdNm'"
                                        k-data-value-field="'id'"
                                        k-data-source="confirmationDataSource"
                                        ng-model="dataItem.confId"
                                        required id="confId"
                                        style="width: 100%"
                                ></select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="formFooter" style="margin: 0; padding-top: 0!important;">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БОЛИХ</button>
                    <button type="button" ng-click="formSubmit(1)" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ / ХААХ</button>
                    <button type="button" ng-click="formSubmit(0)" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ / ШИНЭ</button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .k-toolbar-overflow-button{
        display:none;
    }
</style>