<div class="treeTable">
    <table class="table-nested table table-bordered" style="border-spacing: 0">
        <thead>
        <tr>
            <th ng-repeat="(thKey, thVal) in ctrl.tableConfig.colInfo" ng-class="{'cell-members': thKey!=0}">
                {{thVal.heading}}
            </th>
        </tr>
        </thead>
        <tbody ng-class="{opened: item.opened}" ng-include="'table_tree.html'"
               ng-repeat="item in ctrl.tableData"></tbody>
    </table>
    <script id="table_tree.html" type="text/ng-template">
        <tr ng-class="{'parent-node': item.childrens, 'leaf-node': !item.childrens}"
            ng-init="parentScope = $parent.$parent; initCheckbox(item, parentScope.item)">
            <td ng-class="{'cell-name':tdKey === 0, 'cell-members': tdKey !== 0}"
                ng-repeat="(tdKey, tdVal) in ctrl.tableConfig.colInfo"
                ng-click="tdKey === 0 && (item.opened = !item.opened)">
                <div ng-if="tdKey === 0" class="indent" style="padding-left: {{15*level}}px;"></div>
                <div ng-if="tdVal.showIcon" ng-bind-html="ctrl.getIconDomByType(item[tdVal.iconDataKey])"
                     style="display: inline"></div>
                {{item[tdVal.dataKey]}}
            </td>
        </tr>
        <tr class="children" ng-if="item.childrens && item.childrens.length > 0">
            <td colspan="{{ctrl.tableConfig.colSpan}}" style="padding: 0px !important;">
                <table class="table" style="border-spacing: 0">
                    <tbody ng-class="{opened: item.opened}" ng-include="'table_tree.html'" ng-init="level = level + 1"
                           ng-repeat="item in item.childrens"></tbody>
                </table>
            </td>
        </tr> </script>
</div>
<style>
    .treeTable table {
        margin-bottom: 0px !important;
        width:100%;
    }
    .treeTable .table-nested {
        border: 1px solid #ddd;
        text-align: left;
    }
    .treeTable .table-nested th + th, .treeTable .table-nested td + th, .treeTable .table-nested th + td, .treeTable .table-nested td + td {
        padding-left: 5px;
    }
    .treeTable .table-nested td {
        border-top: 1px solid #ddd;
      /*  border-left: 1px solid #ddd;*/
    }
    .treeTable .table-nested td[colspan] {
        border: none;
    }
    .treeTable .table-nested .cell-input {
        width: 20px;
        border-right: 1px solid #ddd;
    }
    .treeTable .table-nested .cell-members {
        width: 150px;
    }
    .treeTable .table-nested .indent {
        display: inline-block;
    }
    .treeTable .table-nested .parent-node > .cell-name {
        cursor: pointer;
        word-break: break-all;
    }
    .treeTable .table-nested .parent-node > .cell-name > .indent {
        margin-right: 5px;
    }
    .treeTable .table-nested .parent-node > .cell-name > .indent:before {
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        display: inline-block;
        -moz-transition: -moz-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .treeTable .table-nested .children {
        display: none;
    }
    .treeTable .table-nested .opened > tr > .cell-name > .indent:before {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .treeTable .table-nested .opened > .children {
        display: table-row;
    }

</style>