<div id="page_content">
    <div id="page_content_inner">
        <div id="main_content" kendo-tab-strip k-options="tabStrip">
            <!-- tab list -->
            <ul>
                <li class="k-state-active">Сум / дүүрэг</li>
                <li>Аймаг / агентлаг</li>
                <li>Аймаг</li>
                <li>Тез / агентлаг</li>
                <li>Салбар яам</li>
                <li>Сангийн яам</li>
                <li>Админ</li>
            </ul>

            <div style="padding: 0;border: none;">
                <kendo-grid id="app1Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main1Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app2Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main1Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app3Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main1Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app4Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main2Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app5Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main2Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app6Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main3Grid"></kendo-grid>
            </div>
            <div style="padding: 0;border: none;">
                <kendo-grid id="app7Data" k-scope-field="grid" k-data-source="dataSource" class="uk-text-small" options="main4Grid"></kendo-grid>
            </div>
        </div>
    </div>
</div>

<div class="uk-modal" id="modal_user">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
        <h3 style="padding-top: 15px;" class="uk-modal-title">Хэрэглэгч бүртгэх</h3>
        <hr/>
        <form kendo-validator="validator" id="userForm" class="uk-overflow-container" style="margin-bottom: 0" ng-submit="userSubmit()">
            <ul class="k-edit-form-container" style="display:inline-block; width: 100%;">
                <li>
                    <div class="k-edit-label"><label>Яам (TЕЗ)</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'name'" required
                               k-data-value-field="'id'" k-filter="'startswith'"
                               k-data-source="mstDataSource" ng-model="userItem.nmsTezId" id="mstCd"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Аймаг/Нийслэл</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'cdNm'" required
                               k-data-value-field="'id'" k-filter="'startswith'"
                               k-data-source="amgDataSource" ng-model="userItem.amgId" id="amgId"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Сум/Дүүрэг</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'cdNm'" required k-filter="'startswith'"
                               k-data-value-field="'id'" k-cascade-from="'amgId'" k-cascade-from-field="'parentId'"
                               k-data-source="sumDataSource" ng-model="userItem.sumId" id="sumId"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Байгууллага</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'name'" required k-filter="'contains'"
                               k-data-value-field="'id'" k-cascade-from="'sumId'" k-cascade-from-field="'sumId'"
                               k-data-source="orgDataSource" ng-model="userItem.nmsOrgId" id="nmsOrgId"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>И-мэйл</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="userItem.email" id="email"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Нэвтрэх нэр</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="userItem.username" id="username"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Нууц үг</label></div>
                    <div class="k-edit-field">
                        <input type="password" class="k-input k-textbox" required ng-model="userItem.password" id="password" style="width: 100%;"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Эрх</label></div>
                    <div class="k-edit-field">
                        <select required kendo-multi-select k-options="selectOptions" k-ng-model="userItem.roles"
                                id="lutRoles" style="width: 100%;"></select>
                    </div>
                </li>
            </ul>
        </form>
        <div class="uk-modal-footer uk-text-right" style="margin-top: 0;padding-top: 0;">
            <button type="button" ng-click="userSubmit()" class="md-btn md-btn-mini md-btn-primary">Хадгалах</button>
            <button type="button" class="md-btn md-btn-mini uk-modal-close">Хаах</button>
        </div>
    </div>
</div>

<style>
    .k-edit-label{
        width:25%;
    }
    .k-edit-field{
        width:70%;
    }
</style>