<div id="page_content">
    <div id="page_content_inner">
        <div id="uk-main_content">
            <kendo-grid id="app1Data" class="uk-text-small" k-scope-field="grid"
                        k-data-source="dataSource" options="mainGrid"></kendo-grid>
        </div>
    </div>
</div>


<div class="uk-modal" id="modal_form">
    <div class="uk-modal-dialog custom-modal" style="margin-bottom: 0; padding: 0; width: 700px">
        <div class="formHeader" style="display: block; margin: 0 -24px; padding: 24px">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1 uk-text-left">
                    <h3 class="customTitle" style="margin-bottom: 0; padding-top: 5px; padding-bottom: 5px">
                        <span>Байгууллага бүртгэх</span>
                        <button type="button" class="uk-modal-close uk-float-right uk-close"></button>
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-overflow-container" style="padding: 0;margin: 0"></div>
        <form class="k-form k-form-vertical" id="validator" custom-scrollbar style="margin:20px 0 0 0; overflow-x: hidden;" ng-submit="formSubmit()">
            <ul class="k-edit-form-container" style="display: block;width:98%; padding-right: 10px;">

                <li>
                    <div class="k-edit-label"><label for="name">Нэр</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="dataItem.name" id="name"
                               style="width: 100%"/>
                    </div>
                </li>

                <li>
                    <div class="k-edit-label"><label for="email">И-мэйл хаяг</label></div>
                    <div class="k-edit-field">
                        <input type="email" class="k-input k-textbox" required ng-model="dataItem.email" id="email"
                               style="width: 100%"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="phone">Утас</label></div>
                    <div class="k-edit-field">
                        <input kendo-masked-text-box id="phone" ng-value="dataItem.phone" ng-model="orgItem.phone" style="width: 100%;" k-mask="'00000000'" />
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="description">Хаяг</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="dataItem.description" id="description"
                               style="width: 100%"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="web">Веб сайт</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="dataItem.web" id="web"
                               style="width: 100%"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="facebook">Facebook</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="dataItem.facebook" id="facebook"
                               style="width: 100%"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="instagram">Instagram</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="dataItem.instagram" id="instagram"
                               style="width: 100%"/>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label>Үйлчилгээ</label></div>
                    <div class="k-edit-field">
                        <ul>
                            <li>
                                <label class="customRadioBtn">
                                    Бүгд
                                    <input type="radio" ng-model="isCheckAllCategory" ng-value="'all'"
                                           ng-click="checkAllCategory($event)"/>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li ng-repeat="item in catItems">
                                <label class="customCheckbox">
                                    {{item.name}}
                                    <input type="checkbox" ng-model="categories[item.id]"
                                           ng-change="changeCategoryCheckbox()" parse-int ng-true-value="1"
                                           ng-false-value="0"/>
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="k-edit-label"><label for="useYn">Ашиглах эсэх</label></div>
                    <div class="k-edit-field" style="margin-top: 5px">
                        <input class="switchery switchery-small" type="checkbox" id="useYn" ui-switch
                               ng-model="dataItem.useYn" parse-int ng-true-value="1" ng-false-value="0"/>
                        <label for="useYn" class="inline-label" ng-bind="dataItem.useYn?'Идэвхтэй':'Идэвхгүй'">Label</label>
                    </div>
                </li>
            </ul>
        </form>
        <div class="formFooter" style="margin: 0; padding: 12px">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-right">
                    <button type="button" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БОЛИХ
                    </button>
                    <button type="button" ng-click="formSubmit()"
                            class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="uk-modal" id="modal_form">
    <div class="uk-modal-dialog" style="padding: 0 !important;">
        <button type="button" class="uk-modal-close uk-close"></button>
        <h3 class="uk-modal-title uk-text-center" style="border-bottom: 2px solid #ddd;padding: 12px;">
            Бүртгэл
        </h3>
        <form kendo-validator="validator" id="userForm" class="uk-overflow-container" style="padding: 0 16px;margin-bottom: 0" ng-submit="dataSubmit()">
            <ul class="k-edit-form-container" style="display:inline-block; width: 100%;">
                <li ng-show="formType==1 || formType==2">
                    <div class="k-edit-label"><label for="orgName">Байгууллагын нэр</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.name" id="orgName"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==2">
                    <div class="k-edit-label"><label for="email">Бидний тухай</label></div>
                    <div class="k-edit-field">
                        <textarea id="description" kendo-text-area k-placeholder="'Тухай...'" k-ng-model="orgItem.description" style="width: 100%;" rows="5"></textarea>
                    </div>
                </li>
                <li ng-show="formType==2">
                    <div class="k-edit-label"><label for="email">И-мэйл хаяг</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.email" id="email"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==2">
                    <div class="k-edit-label"><label for="phone">Утас</label></div>
                    <div class="k-edit-field">
                        <input kendo-masked-text-box id="phone" ng-value="orgItem.phone" ng-model="orgItem.phone" style="width: 100%;" k-mask="'00000000'" />
                    </div>
                </li>
                <li ng-show="formType==2">
                    <div class="k-edit-label"><label for="facebook">Facebook</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.facebook" id="facebook"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==2">
                    <div class="k-edit-label"><label for="instagram">Instagram</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.instagram" id="instagram"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==3">
                    <div class="k-edit-label"><label>Аймаг / Нийслэл</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'cdNm'" required k-filter="'contains'"
                               k-data-value-field="'id'" k-ng-model="aimag"
                               k-data-source="amgDataSource" ng-model="orgItem.amgId" id="amgId"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==3">
                    <div class="k-edit-label"><label>Сум / Дүүрэг</label></div>
                    <div class="k-edit-field">
                        <input kendo-drop-down-list k-auto-bind="true" k-data-text-field="'cdNm'" required k-filter="'contains'"
                               k-data-value-field="'id'" k-cascade-from="'amgId'" k-cascade-from-field="'parentId'" k-ng-model="soum"
                               k-data-source="sumDataSource" ng-model="orgItem.sumId" id="sumId"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==4">
                    <div class="k-edit-label"><label>И-мэйл</label></div>
                    <div class="k-edit-field">
                        <input class="switchery switchery-small" type="checkbox" id="notificationEmail" ui-switch ng-model="orgItem.notificationEmail"/>
                        <label for="notificationEmail" class="inline-label" ng-bind="orgItem.notificationEmail?'Тийм':'Үгүй'">Label</label>
                    </div>
                </li>
                <li ng-show="formType==4">
                    <div class="k-edit-label"><label>Мессеж</label></div>
                    <div class="k-edit-field">
                        <input class="switchery switchery-small" type="checkbox" id="notificationText" ui-switch ng-model="orgItem.notificationText"/>
                        <label for="notificationText" class="inline-label" ng-bind="orgItem.notificationText?'Тийм':'Үгүй'">Label</label>
                    </div>
                </li>
                <li ng-show="formType==5">
                    <div class="k-edit-label"><label for="printerType">Принтер</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.printerType" id="printerType"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==5">
                    <div class="k-edit-label"><label for="ipAddress">IP хаяг</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" required ng-model="orgItem.ipAddress" id="ipAddress"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==5">
                    <div class="k-edit-label"><label for="copyCount">Хэвлэх тоо</label></div>
                    <div class="k-edit-field">
                        <input kendo-numeric-text-box k-min="0" k-max="100" id="copyCount" required ng-model="orgItem.copyCount" style="width: 100%;" />
                    </div>
                </li>
                <li ng-show="formType==6">
                    <div class="k-edit-label"><label for="pointGainPercentage">Онооны хувь</label></div>
                    <div class="k-edit-field">
                        <input required kendo-numeric-text-box k-min="0" id="pointGainPercentage" ng-model="orgItem.pointGainPercentage">
                    </div>
                </li>
                <li ng-show="formType==6">
                    <div class="k-edit-label"><label for="chargeVat">НӨАТ бодох</label></div>
                    <div class="k-edit-field">
                        <input class="switchery switchery-small" type="checkbox" id="chargeVat" ui-switch ng-model="orgItem.chargeVat"/>
                        <label for="chargeVat" class="inline-label" ng-bind="orgItem.chargeVat?'Тийм':'Үгүй'">Label</label>
                    </div>
                </li>
                <li ng-show="formType==6">
                    <div class="k-edit-label"><label for="chargeVatPercentage">НӨАТ хувь</label></div>
                    <div class="k-edit-field">
                        <input required kendo-numeric-text-box k-min="0" id="chargeVatPercentage" ng-model="orgItem.chargeVatPercentage">
                    </div>
                </li>
                <li ng-show="formType==6">
                    <div class="k-edit-label"><label for="emailFromUs">Урамшууллын и-мэйл хүлээн авах</label></div>
                    <div class="k-edit-field">
                        <input class="switchery switchery-small" type="checkbox" id="emailFromUs" ui-switch ng-model="orgItem.emailFromUs"/>
                        <label for="emailFromUs" class="inline-label" ng-bind="orgItem.emailFromUs?'Тийм':'Үгүй'">Label</label>
                    </div>
                </li>
                <li ng-show="formType==7">
                    <div class="k-edit-label"><label for="timezone">Цагийн бүсчлэл</label></div>
                    <div class="k-edit-field">
                        <input type="text" class="k-input k-textbox" placeholder="Etc/GMT+8" required ng-model="orgItem.timezone" id="timezone"
                               style="width: 100%;"/>
                    </div>
                </li>
                <li ng-show="formType==7">
                    <div class="k-edit-label"><label for="timeInterval">Цагийн интервал</label></div>
                    <div class="k-edit-field">
                        <input required kendo-numeric-text-box k-min="0" k-max="120" k-step="15" required ng-model="orgItem.timeInterval" id="timeInterval"
                               style="width: 100%;"/>
                    </div>
                </li>

                <li ng-show="formType==9">
                    <ul class="md-list" style="padding-bottom: 10px;">
                        <li ng-repeat="item in orgItem.weekdays">
                            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                                <div class="uk-width-small-5-10">
                                    <div style="margin-top: 8px;">
                                        <input type="checkbox" ng-model="item.active" id="li{{$index}}"/>
                                        <label for="li{{$index}}" ng-bind="item.weekday==7?'Ням' : item.weekday==1?'Даваа':item.weekday==2?'Мягмар':item.weekday==3?'Лхагва':item.weekday==4?'Пүрэв':item.weekday==5?'Баасан':item.weekday==6?'Бямба':item.weekday==1?'Даваа':''"></label>
                                    </div>
                                </div>
                                <div class="uk-width-small-2-10">
                                    <input kendo-masked-text-box class="uk-text-center" ng-value="item.startTime" ng-model="item.startTime" style="width: 100%;" k-mask="'00:00'" />
                                </div>
                                <div class="uk-width-small-1-10 uk-text-center" style="margin-top: 6px;">-</div>
                                <div class="uk-width-small-2-10">
                                    <input kendo-masked-text-box class="uk-text-center" ng-value="item.endTime" ng-model="item.endTime" style="width: 100%;" k-mask="'00:00'" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li ng-if="formType==10">
                    <div style="width: 100%">
                        <div class="dropZoneElement">
                            <div class="textWrapper">
                                <p style="margin-top: 20px;"><span>+</span>Add Image</p>
                                <p class="dropImageHereText">Drop image here to upload</p>
                            </div>
                        </div>
                        <input name="file" accept="image/*" type="file" k-options="fileOptions" kendo-upload k-select="onSelect" />
                    </div>

                    <div class="uk-grid uk-grid-small" ng-if="orgItem.images.length>0" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1 uk-width-small-1-1">
                            <div id="products" class="" style="margin-top: 20px;">
                                <div style="margin-left: 0;" class="uk-grid uk-grid-small lightGallery uk-grid-width-small-1-2 uk-grid-width-medium-1-5 uk-grid-width-large-1-10 " ng-class="{ 'grid_view': grid_view , 'list_view': list_view }">
                                    <div href="{{item.uri}}" class="product uk-position-relative " ng-repeat="item in orgItem.images">
                                        <a ng-click="deleteImage($index,item.id)" style="background: rgba(253,224,224,255); margin:-15px;color: #f47070; border-radius: 50px;" class="uk-badge uk-position-absolute uk-position-top-right uk-margin-left">x</a>
                                        <img ng-src="{{item.uri}}"/>
                                    </div>
                                </div>
                                <div style="margin:-10px 0 0 0;" class="uk-grid uk-grid-small uk-grid-width-small-1-2 uk-grid-width-medium-1-5 uk-grid-width-large-1-10 " ng-class="{ 'grid_view': grid_view , 'list_view': list_view }">
                                    <div class="uk-position-relative uk-text-center" ng-repeat="item in orgItem.images">
                                        <label for="layout{{item.id}}">Featured:</label>
                                        <input id="layout{{item.id}}" ng-checked="item.id==app.thumbId" ng-click="saveThumb(item.id)" type="radio" name="layout" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="uk-modal-footer uk-text-right" style="margin: 0 !important;padding-top: 10px;">
            <button type="button" ng-click="dataSubmit()" class="md-btn md-btn-mini md-btn-primary">Хадгалах</button>
            <button type="button" class="md-btn md-btn-mini uk-modal-close">Хаах</button>
        </div>
    </div>
</div>-->

<style>
    .k-edit-label{
        width:35%;
    }
    .k-edit-field{
        width:60%;
    }
</style>