<div id="page_content">
  <div id="page_content_inner p-0">
    <form kendo-validator="validator" id="userForm" class="uk-overflow-container bg-white px-4 custom-modal mb-0 overflow-hidden" style="height: calc(100vh - 125px)" ng-submit="userSubmit()">
      <div class="uk-grid h-full 2xl:px-16 px-8">
        <div class="uk-width-1-2 p-8 border-box border-0 border-r-[2px] border-solid border-[#eef1f4]" style="height: 100%" custom-scrollbar>
          <ul class="k-edit-form-container !grid grid-cols-2 gap-4" style="display: inline-block; width: 100%">
            <li class="col-span-1">
              <div class="k-edit-label"><label>түвшин сонгоно уу</label></div>
              <div class="k-edit-field">
                <input
                  id="lvlId"
                  required
                  kendo-drop-down-list
                  k-auto-bind="true"
                  k-data-text-field="'name'"
                  k-data-value-field="'id'"
                  k-data-source="levels"
                  k-filter="'contains'"
                  k-ng-model="userItem.level"
                  ng-model="userItem.lvlId"
                  k-select="levelTypeSelect"
                  placeholder="Үндсэн түвшин сонгох"
                  style="width: 100%"
                />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>төрөл сонгоно уу</label></div>
              <div class="k-edit-field">
                <input
                  id="typeId"
                  required
                  kendo-drop-down-list
                  k-auto-bind="true"
                  k-data-text-field="'comCdNm'"
                  k-data-value-field="'id'"
                  k-data-source="userTypes"
                  k-filter="'contains'"
                  k-ng-model="userItem.userType"
                  ng-model="userItem.typeId"
                  k-select="userTypeSelect"
                  placeholder="Төрөл сонгох"
                  style="width: 100%"
                  ng-disabled="userItem.lvlId == null"
                />
              </div>
            </li>
            <li ng-if="showTez" class="col-span-1">
              <div class="k-edit-label"><label>ТЕЗ сонгоно уу</label></div>
              <div class="k-edit-field">
                <input
                  id="tezId"
                  required
                  kendo-drop-down-list
                  k-auto-bind="true"
                  k-data-text-field="'name'"
                  k-data-value-field="'id'"
                  k-data-source="tezDataSource"
                  k-filter="'contains'"
                  k-ng-model="userItem.governor"
                  ng-model="userItem.tezId"
                  ng-change="tezChange()"
                  placeholder="ТЕЗ-ээр шүүх"
                  style="width: 100%"
                />
              </div>
            </li>
            <li ng-if="showAmg" class="col-span-1">
              <div class="k-edit-label flex justify-between">
                <span>аймаг сонгоно уу</span>
              </div>
              <div class="k-edit-field">
                <input
                  id="amgId"
                  kendo-drop-down-list
                  required
                  k-auto-bind="true"
                  k-data-text-field="'name'"
                  k-data-value-field="'id'"
                  k-data-source="amgDataSource"
                  k-filter="'contains'"
                  k-select="amgSelect"
                  ng-model="userItem.amgId"
                  ng-change="amgChange()"
                  placeholder="Аймаг / Нийслэлээр шүүх"
                  style="width: 100%"
                />
              </div>
            </li>
            <li ng-if="showSum" class="col-span-1">
              <div class="k-edit-label">Сум сонгоно уу</div>
              <div class="k-edit-field">
                <input
                  id="sumId"
                  required
                  kendo-drop-down-list
                  k-auto-bind="true"
                  k-data-text-field="'cdNm'"
                  k-filter="'contains'"
                  k-data-value-field="'id'"
                  k-data-source="sumDataSource"
                  ng-model="userItem.sumId"
                  ng-change="sumChange()"
                  placeholder="Сум / Дүүргээр шүүх"
                  style="width: 100%"
                />
              </div>
            </li>

            <li ng-if="showOrg" class="col-span-1">
              <div class="k-edit-label">Байгууллага</div>
              <div class="k-edit-field">
                <select
                  id="orgId"
                  kendo-drop-down-list
                  required
                  k-auto-bind="false"
                  k-data-text-field="'name'"
                  k-data-value-field="'id'"
                  k-filter="'contains'"
                  k-data-source="orgDataSource"
                  k-ng-model="userItem.organization"
                  ng-model="userItem.orgId"
                  k-select="orgSelect"
                  style="width: 100%"
                ></select>
              </div>
            </li>

            <li class="col-span-2">
              <div class="k-edit-label"><label>харъяалагддаг Газар / Алба / Хэлтсийн нэрийг бичнэ үү</label></div>
              <div class="k-edit-field">
                <input type="text" style="width: 100%" ng-model="userItem.department" class="k-input k-textbox" />
              </div>
            </li>
            <li class="col-span-2">
              <div class="k-edit-label"><label>Албан тушаалыг бичнэ үү</label></div>
              <div class="k-edit-field">
                <input type="text" style="width: 100%" ng-model="userItem.position" class="k-input k-textbox" />
              </div>
            </li>

            <li class="col-span-1">
              <div class="k-edit-label"><label>Регистр</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" ng-model="userItem.regNo" id="regNo" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>Овог</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" required ng-model="userItem.lastName" id="lastname" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>Нэр</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" required ng-model="userItem.firstName" id="firstname" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>И-мэйл хаяг</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" required ng-model="userItem.email" id="email" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>Утасны дугаар</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" required ng-model="userItem.phone" id="phone" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>Нэвтрэх нэр</label></div>
              <div class="k-edit-field">
                <input type="text" class="k-input k-textbox" required ng-model="userItem.username" id="uname" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-1">
              <div class="k-edit-label"><label>Шинэ нууц үг</label></div>
              <div class="k-edit-field">
                <input type="password" ng-required="isNewUser" class="k-input k-textbox" ng-model="userItem.newPassword" id="upass" style="width: 100%" />
              </div>
            </li>
            <li class="col-span-2">
              <div class="k-edit-label"><label>Эрх</label></div>
              <div class="k-edit-field">
                <div class="my-2 mr-1 inline-block" ng-repeat="role in roleDataSource">
                  <input type="checkbox" ng-value="role.id" ng-model="roles[role.id]" class="k-checkbox hidden" style="display: none !important" id="{{role.id}}-{{$index}}" />
                  <label class="w-6 bg-white text-[#6C757D] border-[#6C757D] border-[1px] border-solid rounded-2xl py-1 px-3 bg-white text-sm cursor-pointer capitalize" for="{{role.id}}-{{$index}}"
                    ><i class="material-icons mr-2 text-[#6C757D]">check_outlined</i>{{role.name}}</label
                  >
                </div>
              </div>
            </li>
            <li class="col-span-2">
              <div class="k-edit-label"><label>Идэвхтэй эсэх</label></div>
              <div class="k-edit-field">
                <div class="custom-select">
                  <div class="item w-1/2" ng-class="{'active' : userItem.active}" ng-click="userItem.active=1">Идэвхтэй</div>
                  <div class="item w-1/2" ng-class="{'active' : !userItem.active}" ng-click="userItem.active=0">Идэвхгүй</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-2 p-8 pr-0 2xl:pr-8 border-box !pb-0" style="height: 100%" custom-scrollbar>
          <ul class="panelList">
            <li ng-if="userItem.level.hasEco">
              <div class="k-edit-label">эдийн засгийн ангилал сонгоно уу</div>
              <div class="k-edit-field">
                <div class="grid grid-cols-3 2xl:grid-cols-4 w-full gap-2">
                  <div
                    ng-class="{'active': isAllRightEco}"
                    class="panel h-16 col-span-1 border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex items-center justify-center cursor-pointer"
                    ng-click="checkAllEco();"
                  >
                    БҮГД
                  </div>
                  <div
                    ng-repeat="item in rightEcoList"
                    class="panel h-16 col-span-1 text-center border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex flex-col items-center justify-center cursor-pointer"
                    ng-click="selectRightEco(item)"
                    ng-class="{'active':  userItem.ecoArr.includes(item.id)}"
                  >
                    {{item.comCdNm}}
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="userItem.level.hasTez">
<!--            <li ng-if="userItem.level.hasTez && rightTezList.length > 0">-->
              <div class="k-edit-label">Тез сонгоно уу</div>
              <div class="k-edit-field">
                <div class="grid grid-cols-3 2xl:grid-cols-4 w-full gap-2">
                  <div
                    ng-class="{'active': isAllRightTez}"
                    class="panel h-44 col-span-1 border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex items-center justify-center cursor-pointer"
                    ng-click="checkAllTez();"
                  >
                    БҮГД
                  </div>
                  <div
                    ng-repeat="item in rightTezList"
                    class="panel h-44 px-2 gap-2 col-span-1 text-center border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex flex-col items-center justify-center cursor-pointer"
                    ng-click="selectRightTez(item)"
                    ng-class="{'active':  userItem.tezArr.includes(item.id)}"
                  >
                    <img class="h-10 w-10" ng-src="{{item.image.uri}}" alt="" />
                    <span class="tez-text"> {{item.name}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="userItem.level.hasAmg">
<!--            <li ng-if="userItem.level.hasAmg && rightAmgList.length > 0">-->
              <div class="k-edit-label">аймаг / нийслэл сонгоно уу</div>
              <div class="k-edit-field">
                <div class="grid grid-cols-3 2xl:grid-cols-4 w-full gap-2">
                  <div
                    ng-class="{'active': isAllRightAmg}"
                    class="panel h-32 col-span-1 border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex items-center gap-2 justify-center cursor-pointer"
                    ng-click="checkAllAmg();"
                  >
                    БҮГД
                  </div>
                  <div
                    ng-repeat="item in rightAmgList"
                    class="panel h-32 px-2 gap-2 col-span-1 text-center border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex flex-col items-center justify-center cursor-pointer"
                    ng-click="selectRightAmg(item)"
                    ng-class="{'active':  userItem.amgArr.includes(item.id)}"
                  >
                    <img class="h-16 w-16" ng-src="{{item.image.uri}}" alt="" />
                    {{item.cdNm}}
                  </div>
                </div>
              </div>
            </li>
            <li ng-if="userItem.level.board">
              <div class="k-edit-label">Тойрог сонгоно уу</div>
              <div class="k-edit-field">
                <div class="grid grid-cols-3 2xl:grid-cols-4 w-full gap-2">
                  <div
                    ng-repeat="item in allRightParDistList"
                    class="panel h-16 col-span-1 text-center border-[#DEE2E6] border-solid border-[1px] bg-white rounded-lg flex flex-col items-center justify-center cursor-pointer"
                    ng-click="userItem.parDistArr.includes(item.id) ? deleteItem(userItem.parDistArr, item.id): userItem.parDistArr.push(item.id)"
                    ng-class="{'active':  userItem.parDistArr.includes(item.id)}"
                  >
                    {{item.name}}
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="flex justify-end border-solid border-[#eef1f4] border-0 border-t-[2px] bg-white w-full px-8 py-4 box-border">
      <button type="button" ng-click="back()" class="md-btn md-btn-mini uk-modal-close !text-sm cancel-button">БОЛИХ</button>
      <button type="button" ng-click="userSubmit()" class="md-btn md-btn-mini !text-sm gradient-button px-4">ХАДГАЛАХ</button>
    </div>
  </div>
</div>
<div class="uk-modal" id="modal_loader">
  <div class="uk-modal-dialog" style="background: none; box-shadow: none; text-align: center; width: 100%">
    <div id="main-loader-admin-1" style="height: 100px"></div>
  </div>
</div>
<script>
  var animation = bodymovin.loadAnimation({
    // animationData: { /* ... */ },
    container: document.getElementById("main-loader-admin-1"), // required
    path: "assets/img/loader.json", // required
    renderer: "svg", // required
    loop: true, // optional
    autoplay: true, // optional
    name: "Demo Animation", // optional
  });
</script>

<style>
  .k-edit-label {
    width: 100%;
    text-align: left;
    line-height: normal;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #515965;
    font-size: 12px;
    height: 14px;
  }

  .k-edit-field {
    width: 100%;
    margin: 0;
  }

  .custom-modal .md-btn {
    height: 36px;
  }

  .page-button {
    border-radius: 999px;
    height: 40px;
    width: 40px;
    background: #fff;
    cursor: pointer;
  }

  .page-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  .page-button.prev {
    transform: translateX(-50%);
  }

  .page-button.next {
    transform: translateX(50%);
  }

  .tez-text {
    display: inline-block;
    text-transform: lowercase;
  }

  .tez-text:first-letter {
    text-transform: uppercase;
  }

  .panel.active {
    background-color: #312e81 !important;
    color: white !important;
  }

  .panel.active .markerImg {
    background-color: #fff !important;
  }

  .panel:active,
  .panel:hover {
    -webkit-box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 0.25);
  }

  .panelList li .k-edit-label {
    margin-top: 20px;
  }
  .k-checkbox:checked + label {
    background-color: #312e81 !important;
    border-color: #312e81 !important;
    color: #fff !important;
  }

  .k-checkbox:checked + label i {
    color: #fff !important;
  }

  .customCheckbox {
    padding-left: 26px;
  }

  .k-switch-on {
    background-color: #312e81 !important;
  }
  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
</style>
