<div id="page_content">
  <div id="page_content_inner">
    <div id="main_content">
      <kendo-grid id="app1Data" class="uk-text-small"  k-scope-field="grid" k-data-source="dataSource" options="mainGrid"></kendo-grid>
    </div>
  </div>
</div>


<div class="uk-modal" id="modal_form">
  <div class="uk-modal-dialog" style="padding: 0 !important;">
    <button type="button" class="uk-modal-close uk-close"></button>
    <h3 class="uk-modal-title uk-text-center" style="border-bottom: 2px solid #ddd;padding: 12px;">
      Дэд систем бүртгэх
    </h3>
    <form kendo-validator="validator" id="userForm" class="uk-overflow-container" style="padding: 16px;" ng-submit="dataSubmit()">
      <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
          <div class="k-edit-label uk-text-left" style="margin-bottom: 0;width: 100%"><label for="name">Нэр</label></div>
          <div class="k-edit-field" style="width: 100%;">
            <input type="text" class="k-input k-textbox" required ng-model="dataItem.name" id="name"
                   style="width: 100%;"/>
          </div>
        </div>
      </div>
      <div class="uk-grid uk-grid-small" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
          <div class="k-edit-label uk-text-left" style="margin-bottom: 0;width:100%;"><label for="staff">Зураг</label></div>
          <div class="k-edit-field" style="width: 100%;">
            <div style="width: 100%">
              <input name="file" accept="image/*" type="file" id="staff" k-options="fileOptions" kendo-upload k-select="onSelect" />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="uk-modal-footer uk-text-right" style="margin: 0 !important;padding-top: 0;">
      <button type="button" ng-click="dataSubmit()" class="md-btn md-btn-mini md-btn-primary">Хадгалах</button>
      <button type="button" class="md-btn md-btn-mini uk-modal-close">Хаах</button>
    </div>
  </div>
</div>
