<!-- main sidebar -->
<aside id="sidebar_main" class="!bg-gradient-to-b from-indigo-900 to-[#C2976F]" style="height: 100%" sidebar-primary ng-class="{ 'accordion_mode': menuAccordionMode }">
  <div class="sidebar_main_header" style="margin-bottom: 0;height: 109px;" ng-controller="LangCtrl" ng-if="!fullHeaderActive">
    <div class="sidebar_logo uk-text-center" style="height: 100%">
      <a ui-sref="restricted.nms.dashboard" class="sidebar_logo_large" style="width: 100%">
        <img alt="logo" ng-src="assets/img/wdq.png" style="float: left;width:80px;"  />
       <!-- <h4 style="display: inline; color: #fff;line-height: 13px;font-size: 9px;text-transform: uppercase;margin: 0;margin-top: 6px;">
          E - Audit
        </h4>-->
      </a>
    </div>
  </div>
  <div class="leftMenu" custom-scrollbar style="height: calc(100vh - 150px)">
    <div class="menu_section" style="position: relative">
      <ul>
        <li
          ui-sref-active="current_section no_child"
          ng-repeat="section in sections | filter:{modules: {id: module}}:true"
          ng-switch="section.lutMenus.length == 0 || (section.lutMenus.length > 0 && (section.lutMenus | filter:{pageType: 0}).length>0)"
          ng-class="{'submenu_trigger': ((section.lutMenus | filter:{pageType: 1}).length>0) && !miniSidebarActive, 'sidebar_submenu': ((section.lutMenus | filter:{pageType: 1}).length>0) && miniSidebarActive}"
          on-last-repeat
        >
          <a
            ng-switch-when="true"
            ng-if="section.lutMenus.length > 0 && (section.lutMenus | filter:{pageType: 0}).length>0"
            ui-sref="{{section.lutMenus[0].url}}"
            ng-click="log()"
            ng-class="{'menu_tooltip' : miniSidebarActive}"
          >
            <div class="menu_icon uk-flex" style="flex-direction: column">
              <div class="custom-icon" style="-webkit-mask:url({{section.icon}});mask:url({{section.icon}});"></div>
              <span class="icon_label" translate="{{section.langKey}}">{{section.name}}</span>
            </div>
            <span class="menu_title" translate="{{section.langKey}}">{{section.name}}</span>
          </a>
          <a ng-switch-when="true" ng-if="section.lutMenus.length==0" ui-sref="{{section.url}}" ng-click="log()" ng-class="{'menu_tooltip' : miniSidebarActive}">
            <div class="menu_icon uk-flex" style="flex-direction: column">
              <div class="custom-icon" style="-webkit-mask:url({{section.icon}});mask:url({{section.icon}});"></div>
              <span class="icon_label" translate="{{section.langKey}}">{{section.name}}</span>
            </div>
            <span class="menu_title" translate="{{section.langKey}}">{{section.name}}</span>
          </a>

          <a ng-switch-when="false" href ng-if="section.lutMenus.length > 0 && (section.lutMenus | filter:{pageType: 1}).length>0 " ng-click="submenuToggle($event)">
            <div class="menu_icon uk-flex">
              <div class="custom-icon" style="-webkit-mask:url({{section.icon}});mask:url({{section.icon}});"></div>
              <span class="icon_label" translate="{{section.langKey}}">{{section.name}}</span>
            </div>
          </a>
          <ul ng-if="section.lutMenus.length>0" class="submenu" custom-scrollbar style="display: none !important">
            <li ng-repeat-start="item in section.lutMenus | filter:{modules: {id: module}}:true" ng-if="item.group && (item.modules | filter:{id: module}).length>0" class="menu_subtitle">
              {{item.group}} {{item.group}}
            </li>
            <li
              ng-repeat-end
              ng-if="(user.privileges | filter:{menuId:item.id}).length>0"
              ng-class="{ act_item: $state.includes(item.url), 'submenu_trigger': (item.lutMenus.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.lutMenus.length > 0) && miniSidebarActive }"
              ng-include="'submenuTree'"
            ></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
<script type="text/ng-template" id="submenuTree">
  <a ng-if="item.url" ui-sref="{{item.url}}" translate="{{item.langKey}}" ng-click="log()">
      {{item.name}}
  </a>
  <!--  <a ng-if="!item.url" href="#" ng-click="submenuToggle($event)" translate="{{item.langKey}}">{{item.name}}</a>-->
  <ul ng-if="item.lutMenus">
      <li ng-repeat="item in item.lutMenus | filter:{modules: {id: module}}:true"
          ng-include="'submenuTree'"
          ng-class="{ act_item: $state.includes(item.url), 'submenu_trigger': (item.lutMenus.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.lutMenus.length > 0) && miniSidebarActive }">
          <a ng-if="item.url" ui-sref="{{item.url}}"
             translate="{{item.langKey}}">{{item.name}}</a>
          <a ng-if="!item.url" href="#" ng-click="submenuToggle($event)"
             translate="{{item.langKey}}">{{item.name}}</a>
      </li>
  </ul>
</script>
<style>
  .submenu {
    z-index: 10;
  }
</style>
