<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1 iconBtn">
                <kendo-grid class="uk-text-small" options="mainGrid"></kendo-grid>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="Rud">
    <button class="k-button k-button-icontext k-grid-custom" ng-click="showMenuManageModal(dataItem)"><span class="k-icon k-i-list-unordered k-i-list-bulleted"></span></button>
    <button class="k-button k-button-icontext k-grid-custom " ng-click="update(dataItem)"><span
            class="k-icon k-i-edit"></span></button>
    <button class="k-button k-button-icontext k-grid-remove-command" ng-click="delete(dataItem)"><span
            class="k-icon k-i-delete"></span></button>
</script>

<script type="text/x-kendo-template" id="Radd">
    <div style="width: 95px; float: left;" id="details-container" style="text-align:left;">
        <button class="k-button k-button-icontext k-grid-add" ng-click="add()"><span class="k-icon k-i-plus"></span>{{'Add' | translate}}
        </button>
    </div>
</script>